/*CSS Stylesheet*/

/** {border: 1px solid black;}*/

body {
    margin: 0;
    background-color: beige;
}
img {
    max-width: 100%;
}

h1 {
    text-align: center;  
    background-color: white;
    border: 5px solid black;
}

h2 {
    text-align: center;
    background-color: white;
    border: 5px solid black;
}

